{# VARIABLES: destination, time, class_type, rudeness #}

{%- set affirmatives = ["Sì", "Si", "Certamente", "Certo", "Va bene", "Ok", "Okay", "D'accordo", "Affermativo", "Perfetto", "Ottimo"] -%}
{%- set procedurals = ["Procedi", "Vai avanti", "Confermo", "Prenota", "Acquista", "Fallo"] -%}

{# --- SIMPLE AFFIRMATIVE --- #}
{% if rudeness == 'rude' %}
    {% for aff in ["Ok", "Si", "Vbb"] %}
{{ to_json({"text": aff, "variables": {}}) }}
    {% endfor %}
{% elif rudeness == 'polite' %}
    {% for aff in affirmatives %}
{{ to_json({"text": aff ~ " grazie", "variables": {}}) }}
{{ to_json({"text": "Certamente, proceda pure", "variables": {}}) }}
    {% endfor %}
{% else %} {# neutral #}
    {% for aff in affirmatives %}
{{ to_json({"text": aff, "variables": {}}) }}
    {% endfor %}
{% endif %}

{# --- AFFIRMATIVE + PROCEDURAL --- #}
{% if rudeness != 'rude' %}
    {% for aff in affirmatives %}
    {% for proc in procedurals %}
    {% if rudeness == 'polite' %}
{{ to_json({"text": aff ~ ", " ~ proc ~ " pure, grazie", "variables": {}}) }}
    {% else %}
{{ to_json({"text": aff ~ ", " ~ proc, "variables": {}}) }}
{{ to_json({"text": aff ~ " " ~ proc, "variables": {}}) }}
    {% endif %}
    {% endfor %}
    {% endfor %}
{% endif %}

{# --- BASE CONFIRMATIONS --- #}
{% if rudeness == 'rude' %}
    {% for ok in ["Vabbè", "Ok", "Si", "Procedi", "Muoviti"] %}
{{ to_json({"text": ok, "variables": {}}) }}
    {% endfor %}
{% elif rudeness == 'polite' %}
    {% for ok in ["Sì, la ringrazio", "Molto bene, proceda", "Perfetto, va benissimo"] %}
{{ to_json({"text": ok, "variables": {}}) }}
    {% endfor %}
{% else %} {# neutral #}
    {% for ok in ["Sì", "Perfetto", "Va bene", "Confermo", "Ok grazie"] %}
{{ to_json({"text": ok, "variables": {}}) }}
    {% endfor %}
{% endif %}

{# --- CONTEXTUAL CONFIRMATION (Simulating responding to a proposal) --- #}
{# "Va bene quello delle 8:00" #}
{% if time %}
{{ to_json({"text": "Va bene quello delle " ~ time, "variables": {"time": time}}) }}
{{ to_json({"text": "Prendo quello delle " ~ time, "variables": {"time": time}}) }}
{{ to_json({"text": "Ok per le " ~ time, "variables": {"time": time}}) }}
{% endif %}

{% if destination %}
{{ to_json({"text": "Sì, per " ~ destination ~ " va bene", "variables": {"destination": destination}}) }}
{{ to_json({"text": "Confermo " ~ destination, "variables": {"destination": destination}}) }}
{% endif %}

{% if class_type %}
{{ to_json({"text": "In " ~ class_type, "variables": {"class_type": class_type}}) }}
{{ to_json({"text": "Va bene in " ~ class_type, "variables": {"class_type": class_type}}) }}
{{ to_json({"text": "Ok " ~ class_type, "variables": {"class_type": class_type}}) }}
{% endif %}
