{# VARIABLES: rudeness, verbose #}

{% if verbose == 'concise' %}
    {% if rudeness == 'polite' %}
        {{ to_json({"text": "Ciao grazie", "variables": {}}) }}
        {{ to_json({"text": "Ehilà per favore", "variables": {}}) }}
        {{ to_json({"text": "Salve!", "variables": {}}) }}
        {{ to_json({"text": "Ehi per favore", "variables": {}}) }}
    {% else %} {# neutral #}
        {{ to_json({"text": "Ciao", "variables": {}}) }}
        {{ to_json({"text": "Salve", "variables": {}}) }}
        {{ to_json({"text": "Ehi", "variables": {}}) }}
        {{ to_json({"text": "Uè", "variables": {}}) }}
        {{ to_json({"text": "Orari", "variables": {}}) }}
        {{ to_json({"text": "Treno", "variables": {}}) }}
    {% endif %}

{% elif verbose == 'verbose' %}
    {% if rudeness == 'polite' %}
        {{ to_json({"text": "Salve, spero di non disturbare troppo. Avrei gentilmente bisogno di un aiuto per organizzare un viaggio.", "variables": {}}) }}
        {{ to_json({"text": "Ciao! Spero che tu stia bene. Mi chiedevo se per caso potessi assistermi nella ricerca di alcuni biglietti del treno.", "variables": {}}) }}
        {{ to_json({"text": "Salve, saresti così cortese da aiutarmi a visualizzare le opzioni di viaggio? Ti ringrazio molto.", "variables": {}}) }}
    {% else %} {# neutral #}
        {{ to_json({"text": "Ciao, ti scrivo perché sto organizzando un viaggio e volevo capire quali sono le soluzioni migliori disponibili.", "variables": {}}) }}
        {{ to_json({"text": "Salve, vorrei avere alcune informazioni sugli orari dei treni e su come procedere per l'acquisto di un biglietto.", "variables": {}}) }}
        {{ to_json({"text": "Ciao, sto cercando un treno e avrei bisogno del tuo supporto per trovare l'offerta più conveniente.", "variables": {}}) }}
    {% endif %}

{% else %} {# standard #}
    {% if rudeness == 'polite' %}
        {{ to_json({"text": "Ciao, come stai?", "variables": {}}) }}
        {{ to_json({"text": "Salve, spero tutto bene", "variables": {}}) }}
        {{ to_json({"text": "Ehilà, potresti aiutarmi per favore?", "variables": {}}) }}
        {{ to_json({"text": "Ciao, avrei bisogno di un'informazione gentilmente", "variables": {}}) }}
    {% else %} {# neutral #}
        {{ to_json({"text": "Ciao, ho bisogno di un treno", "variables": {}}) }}
        {{ to_json({"text": "Salve, vorrei vedere gli orari", "variables": {}}) }}
        {{ to_json({"text": "Ehi, sto cercando un biglietto", "variables": {}}) }}
        {{ to_json({"text": "Ciao, mi aiuti a trovare un viaggio?", "variables": {}}) }}
    {% endif %}
{% endif %}
